<div class="div-center m-2">
    <div class="mx-auto col-6 form m-2">
        <div class="form-group m-2">
            <label class="">Email</label>
            <input [(ngModel)]="c_email" type="text" class="form-control">
        </div>
        <div class="form-group m-2">
            <button (click)="submitEmail()" class="btn btn-success">Submit</button>
        </div>
    </div>
</div>