<table class="table">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="!iItems">
            <td>Select Category and Sub-Category</td>
            <td></td>
        </tr>
        <tr *ngFor="let item of iItems">
            <td>{{item.iname}}</td>
            <td>{{item.idescription}}</td>
            <td><button type="button" class="btn btn-outline-primary">+</button></td>
            <td><button type="button" class="btn btn-outline-danger">-</button></td>
        </tr>
    </tbody>
</table>