<div class="div-center">
    <div class="form mx-auto col-6 form m-2">
        <div class="form-group m-2">
            <label for="">Password</label>
            <input [(ngModel)]="r_password" type="password" class="form-control">
        </div>
        <div class="form-group m-2">
            <label for="">Confirm Password</label>
            <input [(ngModel)]="r_c_password" type="password" class="form-control">
        </div>
        <div class="form-group m-2">
            <button (click)="resetPassword()" class="btn btn-danger">Reset Password</button>
        </div>
    </div>
</div>