<!-- <div class="container">
    <nav class="navbar navbar-inverse">
        <div class="flex container-fluid">
          
          <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menus">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
           
          </div>
      
         
          <div class="navbar-collapse collapse" id="menus">
            <ul class="nav navbar-nav">
              <li><a routerLink="/home">PIZZHAZ</a></li>
              <li><a routerLink="/home">Home</a></li>
              <li><a routerLink="/login">Login</a></li>
              <li><a routerLink="/listAll">List All Pizzaz</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <router-outlet></router-outlet>
</div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">PIZZHAZ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Home</a>
      </li>
    </ul>

  </div>
  <form class="float-right m-2">
    <button class="btn btn-outline-success float-right" *ngIf="(isUserAuthenticated$ | async) as isUserAuthenticated" routerLink="/cart" type="submit">Cart</button>
  </form>
</nav>
<router-outlet></router-outlet>