<div class="row">
  <div class="col-2">
    <div class="list-group">
      <button type="button" (click)="getSubCategory($event)" class="list-group-item list-group-item-action"
        *ngFor="let category of pCategories">{{category}}</button>
    </div>
    <br /><br /><br />
    <div class="list-group">
      <button type="button" (click)="getList($event)" class="list-group-item list-group-item-action"
        *ngFor="let subCategory of pSubCategories">{{subCategory}}</button>
    </div>
  </div>
  <div class="col-8">
    <app-pizza-list-component [iItems]=iItems></app-pizza-list-component>
  </div>
</div>