<div class="div-center">
    <div class="mx-auto col-6 form">
        <div class="form-group m-2">
            <label for="">Email</label>
            <input [(ngModel)]="c_email" type="text" class="form-control">
        </div>
        <div class="form-group m-2">
            <label for="">Password</label>
            <input [(ngModel)]="c_password" type="password" class="form-control">
        </div>
        <div class="form-group m-2">

            <button (click)="loginCheck()" class="btn btn-success m-2">Login</button>
            <button (click)="register()" class="btn btn-danger m-2">Register</button>
            <br />
            <a (click)="forgotPwd()" class="link-dark m-2">Forgot Password?</a>
        </div>
    </div>
</div>