<div class="div-center">
    <div class="form mx-auto col-6 form m-2">
        <div class="form-group m-2">
            <label for="">Email</label>
            <input [(ngModel)]="r_email" type="text" class="form-control">
        </div>
        <div class="form-group m-2">
            <label for="">Password</label>
            <input [(ngModel)]="r_password" type="password" class="form-control">
        </div>
        <div class="form-group m-2">
            <label for="">Confirm Password</label>
            <input [(ngModel)]="r_c_password" type="password" class="form-control">
        </div>
        <div class="form-group m-2">
            <label for="">Name</label>
            <input [(ngModel)]="r_name" type="text" class="form-control">
        </div>
        <div class="form-group m-2">
            <label for="">Mobile Number</label>
            <input [(ngModel)]="r_p_number" type="tel" class="form-control">
        </div>
        <div class="form-group m-2">
            <label for="">Address</label>
            <input [(ngModel)]="r_address" type="text" class="form-control">
        </div>
        <div class="form-group m-2">
            <button (click)="registerNewCustomer()" class="btn btn-danger">Register</button>
        </div>
    </div>
</div>